<div id="app-container">
  <div id="background-img-container">
    <h1 id="main-header">IP Address Tracker</h1>
    <app-ip-search [ipSearchLoading]=ipSearchLoading [ipInfoReady]=ipInfoReady
    (ipSearchLoadingStatusChange)="ipSearchLoadingStatusChangeHandler($event)" (ipInfoReadyStatusChange)="ipInfoReadyStatusChangeHandler($event)"></app-ip-search>
    <app-ip-info [ipSearchLoading]=ipSearchLoading [ipInfoReady]=ipInfoReady [ipInfo]=ipInfo></app-ip-info>
  </div>

  <app-map [ipInfo]=ipInfo></app-map>
</div>

<router-outlet></router-outlet>
