<div id="ip-info-container">
  <div id="ip-info-container-inner">
    <div class="ip-info-tile">
      <h2>IP Address</h2>
      <!-- <p>192.212.174.101</p> -->
      <div [ngSwitch]="nowLoading">
          <p *ngSwitchCase="true">192.212.174.101</p>
          <p *ngSwitchCase="false">...</p>
          <p *ngSwitchDefault?>n/a</p>
      </div>
    </div>
    <div class="ip-info-tile">
      <h2>Location</h2>
      <!-- <p>Brooklyn, NY 10001</p> -->
      <div [ngSwitch]="nowLoading">
          <p *ngSwitchCase="true">Brooklyn, NY 10001</p>
          <p *ngSwitchCase="false">...</p>
          <p *ngSwitchDefault?>n/a</p>
      </div>
    </div>
    <div class="ip-info-tile">
      <h2>Timezone</h2>
      <!-- <p>UTC - 05:00</p> -->
      <div [ngSwitch]="nowLoading">
          <p *ngSwitchCase="true">UTC - 05:00</p>
          <p *ngSwitchCase="false">...</p>
          <p *ngSwitchDefault?>n/a</p>
      </div>
    </div>
    <div class="ip-info-tile">
      <h2>ISP</h2>
      <!-- <p>SpaceX Starlink</p> -->
      <div [ngSwitch]="nowLoading">
          <p *ngSwitchCase="true">SpaceX Starlink</p>
          <p *ngSwitchCase="false">...</p>
          <p *ngSwitchDefault?>n/a</p>
      </div>
    </div>
  </div>
</div>
